{% if scenario_list %}
  <ul id="message_list">
     {% for scenario in scenario_list %}
        <li>
           <div class="text">
              {{ scenario[1].get_name() }}: <a href= {{ url_for('view_scenario', scenario_id = scenario[0]) }}> View </a>
           </div>
        </li>
     {% endfor %}
  </ul>

{% endif %}


<form method="POST" action={{ url_for('create_scenario') }}>
    <button type="submit">New Scenario</button>
</form>

<form method="POST" action={{ url_for('reload_bots') }}>
    <button type="submit">Reload Bots</button>
</form>

<form action = {{ url_for('import_db') }} method = "POST" 
      enctype = "multipart/form-data">
      <input type = "file" name = "file" />
      <input type = "submit"/>
</form>

<form method="POST" action={{ url_for('export_db') }}>
    <button type="submit">Export Database</button>
</form>

<form method="POST" action={{ url_for('wipe_db') }}>
    <button type="submit">Wipe Database</button>
</form>

<form method="POST" action={{ url_for('logout') }}>
    <button type="submit">Logout</button>
</form>