{% if dialog %}
  <ul id="message_list">
     {% for message in dialog %}
        <li>
           <div class="text">
              User: {{ message[0] }}
           </div>

           <div class="text">
              Bot: {{ message[1] }}
           </div>
        </li>
     {% endfor %}
  </ul>

  <div class="text">
        Points: {{ score }} out of {{ max_score }} <br>
  </div>

{% endif %}



<form method="POST">
  <input type="text" name="input_text">
  <input type="submit" value="send">
</form>