<a href= {{ url_for('view_scenario', scenario_id = scenario_id) }}>Go Back</a> <br> <br>

<form method="POST">

    Response: <input type="text" name="response_text" value="{{ response.get_response() }}" size = "50"> 
    Points: <input type="text" name="response_points" value="{{ response.get_points() }}" size = "5"> <br><br>
    Questions: <br>

    {% for question in response.get_questions() %}
        {% if loop.index0 == 0 %}
           Model Question:
        {% else %}
           Alternate Question:
        {% endif %}
        <input type="text" name="question{{ loop.index0 }}" value="{{ question }}" size = "50"> 
        <a href= {{ url_for('remove_question', scenario_id = scenario_id, response_index = response_index, question_index = loop.index0) }}>Delete Question</a> <br>
    {% endfor %}
    <a href= {{ url_for('add_question', scenario_id = scenario_id, response_index = response_index) }}>Add Question</a> <br> <br>

    Neighbors: <br>
    {% for response_neighbor in response.get_neighbors() %}
        Neighbor: {{ response_neighbor.get_response() }} <a href= {{ url_for('remove_neighbor', scenario_id = scenario_id, response_index = response_index, neighbor_index = loop.index0) }}>Delete Neighbor</a> <br> 
    {% endfor %}


    Add a Neighbor:
    <select onChange="window.location.href=this.value">
        <option value={{ url_for('view_response', scenario_id = scenario_id, response_index = response_index) }}> Select a Neighbor</option>
        {% for response in scenario.get_dialog().get_responses() %}
            <option value={{ url_for('add_neighbor', scenario_id = scenario_id, response_index = response_index, neighbor_index = loop.index0) }}> {{ response.get_response() }}</option>
        {% endfor %}
    </select>
          
     <br> <br>

    <input type="submit" value="Save">
</form>


<form method="POST" action={{ url_for('remove_response', scenario_id = scenario_id, response_index = response_index) }}>
    <button type="submit">Delete</button>
</form>