<form method="POST" action={{ url_for('admin') }}>
    <button type="submit">Home</button>
</form>

Image: <br> <img height="240" src="data:image/png;base64,{{ scenario.get_image() }}"/> <br> <br>

<form action = {{ url_for('upload_image', scenario_id = scenario_id) }} method = "POST" 
      enctype = "multipart/form-data">
      <input type = "file" name = "file" />
      <button type="submit">Upload Image</button>
</form>

<form method="POST">
  name: <input type="text" name="scenario_name" value="{{ scenario.get_name() }}"> <br> <br>
  Description: <br> <textarea rows="4" cols="50" name="scenario_description">{{ scenario.get_description() }}</textarea> <br> <br>
  Youtube Video URL: <input type="text" name="scenario_video_link" size = "50" value="{{ scenario.get_video_link() }}"> <br> <br>
  Total Points Possible: {{ scenario.get_dialog().get_total_points() }} <br> <br>
  responses: <br> <br>

  <select onChange="window.location.href=this.value">
      <option value={{ url_for('view_scenario', scenario_id = scenario_id) }}> Select a Response</option>
      {% for response in scenario.get_dialog().get_responses() %}
        <option value={{ url_for('view_response', scenario_id = scenario_id, response_index = loop.index0) }}>{{ response.get_response() }}</option>
      {% endfor %}
  </select>
          

  <a href= {{ url_for('add_response', scenario_id = scenario_id) }}>Add Response</a> <br> <br>
  <input type="submit" value="Save">
</form>


<select onChange="window.location.href=this.value">
      <option value={{ url_for('view_scenario', scenario_id = scenario_id, scenario_list = scenario_list) }}>Import Scenario</option>
      {% for scenario_entry in scenario_list %}
        <option value={{ url_for('import_scenario', scenario_id = scenario_id, scenario_old_id = scenario_entry[0]) }}>{{ scenario_entry[1].get_name() }}</option>
      {% endfor %}
</select>


<form method="POST" action={{ url_for('remove_scenario', scenario_id = scenario_id) }}>
    <button type="submit">Delete</button>
</form>